<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dsu.software.busansubway">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".Inside.InsideActivity_first_1" />
        <activity android:name=".Inside.InsideActivity_first_2" />
        <activity android:name=".Inside.InsideActivity_first_3" />
        <activity android:name=".Inside.InsideActivity_first_4" />
        <activity android:name=".Inside.InsideActivity_second_1" />
        <activity android:name=".Inside.InsideActivity_second_2" />
        <activity android:name=".Inside.InsideActivity_second_3" />
        <activity android:name=".Inside.InsideActivity_second_4" />
        <activity android:name=".Inside.InsideActivity_third_1" />
        <activity android:name=".Inside.InsideActivity_third_2" />
        <activity android:name=".Inside.InsideActivity_third_3" />
        <activity android:name=".Inside.InsideActivity_third_4" />
        <activity android:name=".Inside.InsideActivity_fourth_1" />
        <activity android:name=".Inside.InsideActivity_fourth_2" />
        <activity android:name=".Inside.InsideActivity_fourth_3" />
        <activity android:name=".Inside.InsideActivity_fourth_4" />
        <activity android:name=".Inside.InsideActivity_dong_1" />
        <activity android:name=".Inside.InsideActivity_dong_2" />
        <activity android:name=".Inside.InsideActivity_dong_3" />
        <activity android:name=".Inside.InsideActivity_dong_4" />
        <activity android:name=".Inside.InsideActivity_kim_1" />
        <activity android:name=".Inside.InsideActivity_kim_2" />
        <activity android:name=".Inside.InsideActivity_kim_3" />
        <activity android:name=".Inside.InsideActivity_kim_4" />
        <activity android:name=".Inside.FirebaseHandler" />

        <activity android:name=".Details.DetailActivity_first" />
        <activity android:name=".Details.DetailActivity_second" />
        <activity android:name=".Details.DetailActivity_third" />
        <activity android:name=".Details.DetailActivity_fourth" />
        <activity android:name=".Details.DetailActivity_dong" />
        <activity android:name=".Details.DetailActivity_kim" />
        <activity android:name=".Login.SignupActivity" />
        <activity android:name=".Login.SigninActivity" />

<!--                        <activity android:name=".Select.Station_Tab" />-->
<!--                        <activity android:name=".Intro.IntroActivity">-->
        <activity android:name=".Select.Station_Tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>